body {
    background-color: rgb(61, 39, 39);
    font-family: 'Lato', sans-serif;
    color: white
}

.corner-photo {
    position: fixed;
    width: 160px;
    height: 160px;
    border-radius: 8px;

}


.page-layout {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    min-height: 90vh;
}

.top-right {
    top: 16px;
    right: 16px;
    width: 300px;
    height: 200px;
    border: 1px solid wheat;

}

.top-left {
    top: 16px;
    left: 16px;
    width: 300px;
    height: 200px;
    border: 1px solid wheat;

}

.bottom-left {
    bottom: 16px;
    left: 16px;
    width: 300px;
    height: 200px;
    border: 1px solid wheat;

}

.bottom-right {
    bottom: 16px;
    right: 16px;
    width: 300px;
    height: 200px;
    border: 1px solid wheat;

}

.flex-container {
    display: grid;
    max-width: 200px;
    margin: auto;
    gap: 24px;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    top: -200px;
}

.clicky-box:hover {
    background-color: #c9b99a;
    color: #2e2e2e;

}

.clicky-box {
    width: 300px;
    height: 250px;
    display: flex;
    color: bisque;
    justify-content: center;
    align-items: center;
    background-color: rgb(104, 68, 68);
    border: 1px solid wheat;
    font-family: 'Playfair Display', serif;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: relative;
    top: 200px;

}

head {
    font-family: 'Playfair Display', serif;

}

h2 {
    font-family: 'Lato', sans-serif;
}

p {
    font-family: 'Lato', sans-serif;
}